body {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

body button {
  outline: none;
}

body a {
  outline: none;
}

/* -------- 1. Navigationsbar --------- */

header {
    box-shadow: 0 0 10px 0 grey;
    display: flex;
    padding: 12px;
    flex-direction: row;
    position: fixed;
    width: 100%;
    justify-content: center;
    margin: 0;
    z-index: 9999;
    background-color: white;
    top: 0;
}

nav {
    text-align: center;
    padding: 0 140px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-align: center;
    line-height: normal;
    text-decoration: none;
    padding: 20px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

li a:hover {
    color: #5db255;
}

/* -------- 2. Transport --------- */

#transportoverskrift {
    font-size: 33px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.transportkasser {
    display: flex;
    flex-direction: row;
}

.box1 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#bil {
    padding-top: 10px;
}

.box2 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#taxa {
    padding-top: 10px;
}

.box3 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#tog {
    padding-top: 10px;
}

.transportkasser1 {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
}

.box1 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    margin-right: 0;
    padding: 10px;
    text-align: center;
}

#bil {
    padding-top: 10px;
}

.box2 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    text-align: center;
}

#taxa {
    padding-top: 10px;
}

.box3 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    margin-left: 0;
    padding: 10px;
    text-align: center;
}

#tog {
    padding-top: 10px;
}

.transportkasser2 {
    display: flex;
    flex-direction: row;
}

.box4 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    margin-right: 0;
    padding: 10px;
    text-align: center;
}

#cykel {
    padding-top: 10px;
}

.box5 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    text-align: center;
}

#parkeringsplads {
    padding-top: 10px;
}

.box6 {
    border: 1px grey;
    width: 280px;
    height: 210px;
    font-size: 12px;
    box-shadow: 0 0 10px 0 grey;
    margin: auto;
    margin-left: 0;
    padding: 10px;
    text-align: center;
}

#camping {
    padding-top: 10px;
}

.subheadline {
    font-weight: 700;
    padding-top: 25px;
    font-size: 20px;
    margin: 0;
}

/* -------- 2.1 Kort --------- */

#kort {
    width: 60%;
    height: 400px;
    background-color: grey;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#slogan {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  color: white;
  font-style: italic;
}

.arrow {

}

/* -------- 2. Aktiviteter --------- */

#btn-secondary {
  background-color: #5DB255;
  color: white;
  padding: 15px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 10px;
  top: 65%;
  border: 1px solid#5DB255;
}

.btn-third {
  line-height: normal;
  color: #5DB255;
  font-size: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn-third:hover {
  color: #86D37E;
}

#btn-secondary:hover {
  background-color: white;
  color: #5DB255;
  border: 1px solid#5DB255;
}

#button-2 {
  display: none;
}

#button-1 {
  display: none;
}

#button-3 {
  display: none;
}

#aktivitetsoverskrift {
    font-size: 33px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.month {
    padding: 10px 20px;
    background: #5db255;
    text-align: center;
}

.calender2 h2 {
  color: white;
}

.event1 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
    width: 414px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.event1 h2 {
    background-color: #5db255;
    color: white;
    margin: 0;
    padding: 20px;
}

td  {
  padding: 10px;
font-size: 15px;
text-align: center;
}

th {
  padding: 10px;
font-size: 20px;
}

.calender2 {
  width: 414px;
  box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
}

table {

}

.dato:hover {
  cursor: pointer;
  color: #90EE90;
}


#eventoverskrift {
    font-size: 20px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}
#spisning {
    width: 580px;
height: 310px;
position: relative;
left: 8%;
top: -14px;

    padding-right: 100px;
    display: block;
}

#fodbold {
width: 580Px;
height: 310px;
position: relative;
left: 51%;
top: -323px;

    padding-right: 100px;
    display: block;
}#eventoverskrift1 {
    font-size: 20px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}
#jul {
    width: 580px;
height: 310px;
position: relative;
left: 8%;
top: -298px;

    padding-right: 100px;
    display: block;
}

#oktoberfest {
width: 580Px;
height: 311px;
position: relative;
left: 51%;
top: -608px;

    padding-right: 100px;
    display: block;
}

.event2 h4 {
    background-color: white;
    color: black;

}

#rank1, #rank2, #rank3, #rank4, #rank5 {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

.event1 p {
    padding: 8px 10px;
    margin: 0px;
}

#dato {
    color: #5db255;
}

.top-half {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.calender, .kommendeevents {
  margin: 0 100px;
}

/* -------- 3. Om Vrøgum --------- */

#omoverskrift {
    font-size: 33px;
    color: 000;
    text-align: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

#ballonpark, #skoven, #fiskesoe, #station, #dengamleskole {
    position: relative;
}

#ballonparkheadline, #fiskesoeheadline, #skovheadline, #stationheadline, #dengamleskoleheadline {
  width: 100%;
  text-align: center;
}

.widepics {
    width: 100%;
    display: block;
}

.names {
    color: white;
    font-size: 70px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35%;
}

.btn-primary {
    position: absolute;
    background-color: #5DB255;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    top: 65%;
    border: 1px solid#5DB255;
}

.btn-div {
  width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn-primary:hover {
    background-color: white;
    color: #5DB255;
    border: 1px solid#5DB255;
}

/* -------- 4.1 Ballonpark underside -------- */
  .articles {
    display: flex;
    flex-direction: column;
    background-color: rgba(134, 211, 126, 0.2);
  }

  #slideromvroegum {
    margin-top: 70px;
  }

  .slideshow {
    width: 1200px;
    position: relative;
    margin: auto;
    margin-top: 40px;
  }

  .slideshow1 {
    margin: auto;
    margin-top: 90px;
    position: relative;
  }

  .imageslides {
    animation-name: slideAnimation;
    animation-duration: 2.5s;
    display: none;
  }

  .imageslides2 {
    animation-name: slideAnimation;
    animation-duration: 2.5s;
    display: none;
  }

  @keyframes slideAnimation {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 42%;
    padding: 25px;
    cursor: pointer;
  }

  .arrow-right {
    right: 0;
  }

  .arrow-left {
    left: 0;
  }

  .arrow-left2,
  .arrow-right2 {
    position: absolute;
    top: 42%;
    padding: 25px;
    cursor: pointer;
  }

  .arrow-right2 {
    right: 0;
  }

  .arrow-left2{
    left: 0;
  }

  #index-headline {
    text-align: center;
    font-size: 50px;
    color: white;
  }

  .index-headline {
    background-color: rgba(16, 113, 7, 0.6);
    position: absolute;
    font-size: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
}

.news {
  background-color: rgba(16, 113, 7, 0.8);
    width: 100%;
    display: inline-block;
}

input[type="email"] {
    width: 400px;
    height: 40px;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 15px;
}



input[type="submit"] {
  background-color: #EDE623;
  border: none;
  height: 40px;
  width: 130px;
  margin-left: 20px;
  border-radius: 25px;
  color: black;
  font-size: 15px;
  font-family: 'Lora', serif;
  font-weight: 400;
}

form {
  padding-top: 40px;
  width: 44%;
  margin: auto;
}

.news-content {
      padding: 50px;
}

.news-content h1{
  font-family: 'Lora', serif;
  color: white;
  font-weight: 700;
  text-align: center;
}

.news-content p {
  font-family: 'Lora', serif;
  color: white;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}


.scrolldown {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 80%;
  width: 50px;
}

  #articleheadline{

    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #107107;
  }

  #readmorearticle {
    display: none;
  }

  .article-index {
    margin: 0 52px;
    padding-bottom: 30px;
  }

  #article-headline {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #107107;
    margin: 40px 0;
    padding-left: 30px;
  }

.inner-elements {
  margin: 10px auto 50px auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
}

#elemwithpics {
  margin-top: 70px;
}

.inner-text {
  flex-direction: column;
  background-color: white;
  width: 4000px;
}

.paragraph-article {
  margin: 40px 0;
  padding: 0 30px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  text-align: justify;
}

.sidebar-article {
  background-color: #86D37E;
  display: flex;
  flex-direction: column;
  width: 1500px;
  height: 300px;
  margin-left: 20px;
}

.sidebar-article a {
  text-decoration: none;
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
}

.sidebar-article a:hover {
  background: linear-gradient(to right, #5db255, #7dc14b, #9fcf40, #c5db32, #ede623);
}

.sidebar-article a:active {
  background: white;
  color: #86D37E;
}
.sidebar-article1 {
  background-color: #86D37E;
  display: flex;
  flex-direction: column;
  width: 1500px;
  height: 361px;
  margin-left: 20px;
}

.sidebar-article1 a {
  text-decoration: none;
  padding: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: white;
}

.sidebar-article1 a:hover {
  background: linear-gradient(to right, #5db255, #7dc14b, #9fcf40, #c5db32, #ede623);
}

.sidebar-article1 a:active {
  background: white;
  color: #86D37E;
}

/* -------- 4.1 Ballonpark underside -------- */
.skoven, .station, #fiskesoe1, #dengamleskole1{
  width: 1200px;
  margin: auto;
  margin-top: 110px;
}

.billede {
  animation-name: slideAnimation;
  animation-duration: 2.5s;
  overflow-x: hidden;
}



/* -------- 4. Erhverv --------- */

#erhvervoverskrift {
    font-size: 33px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.erhvervkasser {
    display: flex;
    flex-direction: column;
}

.vrogum {
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    width: 60%;
    margin: 200px auto 20px auto;
    box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
}

#loppe {
    padding-right: 50px;
    display: block;
}

.vrogumtekst {
    padding-top: 70px;
    padding-left: 60px;
    line-height: 40px;
    text-align: center;
}

.vrogumtekst h3 {
    color: #5DB255;
}

#salon {
    padding-right: 50px;
    display: block;
}

.erhvervkasser2 {
    display: flex;
    flex-direction: column;
}

.vrogum2 {
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    width: 60%;
    margin: 0 auto 20px auto;
    box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
}

.vrogumtekst2 {
    padding-top: 70px;
    padding-left: 60px;
    line-height: 40px;
    text-align: center;
}

.vrogumtekst2 h3 {
    color: #5DB255;
}

#mekaniker {
    padding-right: 50px;
    display: block;
}

.erhvervkasser3 {
    display: flex;
    flex-direction: column;
}

.vrogum3 {
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    width: 60%;
    margin: 0 auto 20px auto;
    box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
}

.vrogumtekst3 {
    padding-top: 70px;
    padding-left: 60px;
    line-height: 40px;
    text-align: center;
}

.vrogumtekst3 h3 {
    color: #5DB255;
}

#soberriget {
    padding-right: 50px;
    display: block;
}

.erhvervkasser4 {
    display: flex;
    flex-direction: column;
}

.vrogum4 {
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    width: 60%;
    margin: 0 auto 70px auto;
    box-shadow: 0px 0px 9px 0px rgba(166, 166, 166, 1);
}

.vrogumtekst4 {
    padding-top: 70px;
    padding-left: 60px;
    line-height: 40px;
    text-align: center;
}

.vrogumtekst4 h3 {
    color: #5DB255;
}

/* -------- 5. Footer --------- */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #86D37E;
    color: white;
    padding-bottom: 100px;
}

footer {
    display: flex;
    flex-direction: column;
}

.kontakt {
    margin-left: 60px;
    padding-top: 20px;
}

.icons {
    margin-right: 60px;
    padding-top: 20px;
}

.footerdesign {
    margin-top: -170px;
}

#footerdesign {
    display: block;
}

/* -------- 6. Navbar på transportsider --------- */

.navtransport {
    width: 240px;
    position: fixed;
    z-index: 1;
    background: #86D37E;
    overflow-x: hidden;
    top: 150px;
    left: 20px;
}

.navtransport a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #5DB255;
}

.navtransport ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.navtransport li a  {
  margin-top: 40px;

}

.tog1 {
    font-size: 20px;
    color: 000;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.teksttog {
    font-size: 18px;
    width: 500px;
    padding-left: 465px;
}
.bil1{
    margin: 110px auto 50px auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
  }

#tekstbil{
  font-size: 18px;
  width: 500px;
  padding-left: 465px;
}
.maps{
  display: flex;
  flex-direction: column;
}

.taxa1{
  font-size: 20px;
  color: 000;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  width: 40%;
  margin-left: 400px;
}

.cykel1{
  font-size: 20px;
  color: 000;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  width: 40%;
  margin-left: 400px;
}
/* -------- 6. Navbar på transportsider --------- */
#nyhederoverskrift {
    font-size: 60px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    margin-top: 0;
    color: #107107;
}



#forside-container {
  background-color: rgba(134, 211, 126, 0.2);
}

.nyhed1{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nyhed1 img {
  align-self: center;
}

.nyhed1kasse{
  position: absolute;
  background-color: #86D37E;
  color: white;
  padding: 20px;
  width: 760px;
  opacity: 0.8;
}
