

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.styleguide-logo {
    height: 200px;
    margin-left: 1px;
    margin-right: 70px;
    /*margin: auto;
    display: block;
    margin-left: 100px;
    top: -150px;*/

}

.font {
    width: 100px;
    margin: auto;
    display: block;
    margin-left:50px;
    margin-top: 60px,
}

.btn-primary {
    position: absolute;
    background-color: #5DB255;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    top: 65%;
    border: 1px solid#5DB255;
    margin-top: 227px;
    margin-left: 150px;
}


#spisning {
    width: 250px;
    height: 110px;
    margin-right: 70px;
    /*position: relative;
    left: 280px;
    top: -110px;
    padding-right: 100px;
    display: block;*/
}

#fodbold {
    width: 250Px;
    height: 110px;

    /*position: relative;
    left: 580px;
    top: -223px;
    padding-right: 100px;
    display: block;
    display: block;*/
}
    /* -------- 2. Transport --------- */
    #transportoverskrift {
        font-size: 33px;
        color: 000;
        margin-top: 150px;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }


    #tog {
        padding-top: 10px;
        margin-left:70px;


    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

    }
    /* -------- Footer  --------- */

.footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #86D37E;
    color: white;
    padding-bottom: 100px;
}

footer {
    display: flex;
    flex-direction: column;
}

.kontakt {
    margin-left: 60px;
    padding-top: 20px;
}

.icons {
    margin-right: 60px;
    padding-top: 20px;
}

.footerdesign {
    margin-top: -170px;
}

#footerdesign {
    display: block;


    element.style {
    }
    .arrow-right2 {
        right: 0;
    }
    .arrow-left2, .arrow-right2 {
        position: absolute;
        top: 50%;
        padding: 25px;
        cursor: pointer;
        margin-left:200px;
    }
